#frog_div, #frog {
    position: absolute;
    top: 720px;
    left: 420px;
    height: 60px;
    width: 60px;
    z-index:10;
}

.log {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 240px;
    color: brown;
    background-color: brown;
}

.game {
    position: relative;
}

.gameboard{
    border: 3px solid;
    display: flex;
    flex-wrap: wrap;
    height: 780px;
    width: 900px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -450px;
    background-color: black;
    overflow:hidden;
}

.street{
    display: block;
    background-color: grey;
    height: 60px;
    width: 900px;
}

.grass{
    display: block;
    background-color: green;
    height: 60px;
    width: 900px;
}

.water{
    display: block;
    background-color: lightskyblue;
    height: 60px;
    width: 900px;
}

.menu{
    text-align: center;
}