

.gameboard{
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 1000px;
    background-color: black;
}
.grass{
    display: block;
    background-color: darkgoldenrod;
    height: 60px;
    width: 60px;
}

.blank{
    display: block;
    background-color: green;
    height: 60px;
    width: 1000px;
}