#frog {
    position: absolute;
    top: 720px;
    left: 420px;
    height: 60px;
    width: 60px;
    z-index:10;
}

.log {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 240px;
    color: brown;
    background-color: brown;
}

.taxi {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 120px;
    color: yellow;
    background-color: yellow;
}

.bus {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 180px;
    color: blue;
    background-color: black;  
}

.game {
    position: relative;
}

.gameboard{
    border: 3px solid;
    display: flex;
    flex-wrap: wrap;
    height: 780px;
    width: 900px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -450px;
    background-color: black;
    overflow:hidden;
}

.street{
    display: block;
    background-color: grey;
    height: 60px;
    width: 900px;
}

.grass{
    display: block;
    background-color: green;
    height: 60px;
    width: 900px;
}

.water{
    display: block;
    background-color: lightskyblue;
    height: 60px;
    width: 900px;
}

.menu{
    text-align: center;
    position: fixed;
    width: 1500px;
    height:1500px;
}

.game-title{
    font-size: 4cm;
    text-align: center;
}

.user-form{
    position: fixed;
    top: 30%;
    left: 40%;
    display: block;
    width: 200px;
    height: 40px;
    border: 1px solid #999999;
    font-size: 45px;
}

.input-text{
    text-align: center;
    position: fixed;
    top: 30%;
    left: 40%;
    display: block;
    width: 200px;
    height: 40px;
    border: 1px solid #999999;
    font-size: 45px;

}

#menuFrog{
    top: 60%;
    width: 2000px;
    height: 2000px;
}

.submit-button{
    display: flex;
}